@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', 'Noto Sans KR', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

form {
    position: relative;
    width: 800px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.wrapper {
    display: flex;
}

#floatingTextarea {
    width: 100%;
    height: 300px;
    resize: none !important;
} 


