@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Flamenco:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

.wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: url(wave_background.png); */
    overflow: hidden;
    z-index: -1;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    background: linear-gradient(to top, rgba(232, 239, 189), #2ee0e6);
}

h1 {
    /* font-size: 9vw;
    font-weight: 100;
    color: rgba(0,0,0,0.5);
    letter-spacing: 5px;
    text-shadow: 5px 5px 5px rgba(0,0,0,0.2); */
    /* color: transparent; */
    /* -webkit-text-stroke: 2px rgba(0,0,0,0.5); */
    text-transform: uppercase;
    font-size: 10vw;
    font-weight: 900;
    /* letter-spacing: 5px; */
    color: transparent;
    /* text-shadow: 2px 2px 3px rgba(255,255,255,0.2); */
    /* letter-spacing: 5px; */
    text-shadow: 0px 4px 2px #E3EFCF, 0 0 0 rgba(0, 0, 0, 0.1), 0px 4px 2px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

a {
    position: relative;
    display: inline-block;
    padding: 12px 36px;
    margin-top: 50px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 2px;
    border-radius: 40px;
    color: rgba(0,0,0,0.5);
    background: transparent;
    transition: 0.5s;
    z-index: 3;
    /* text-shadow: 2px 2px 2px rgba(0,0,0,0.2); */
}

a:hover {
    color: black;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 2px 2px 2px rgba(0,0,0,0.1);
    text-shadow: none;
}

.box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.box li {
    position: absolute;
    display: flex;
    list-style: none;
    width: 25px;
    height: 25px;
    z-index: 2;
    /* background: rgba(255, 255, 255, 0.2); */
    animation: animate 10s linear infinite;
    bottom: -150px;
    border-radius: 50%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    box-shadow: inset 10px 10px 10px rgba(0,0,0,0.05),
                10px 10px 10px rgba(0,0,0,0.1),
                15px 15px 15px rgba(0,0,0,0.05)
                /* inset -10px -10px 15px rgba(255,255,255,0.9); */
}

.box li:nth-child(1) {
    left: 86%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}

.box li:nth-child(2) {
    left: 9%;
    width: 30px;
    height: 30px;
    animation-delay: 1.5s;
    animation-duration: 9s;
}

.box li:nth-child(3) {
    left: 70%;
    width: 100px;
    height: 100px;
    animation-delay: 5.5s;
}

.box li:nth-child(4) {
    left: 45%;
    width: 150px;
    height: 150px;
    animation-delay: 8s;
    animation-duration: 13s;
}

.box li:nth-child(5) {
    left: 65%;
    width: 40px;
    height: 40px;
    animation-delay: 3s;
}

.box li:nth-child(6) {
    left: 15%;
    width: 110px;
    height: 110px;
    animation-delay: 7s;
}

.box li:nth-child(7) {
    left: 30%;
    width: 130px;
    height: 130px;
    animation-delay: 1s;
    animation-duration: 17s;
}

@keyframes animate {
    0% {
        transform: translateY(0) scale(0);
    }

    50% {
        box-shadow: inset 10px 10px 10px rgba(0,0,0,0.02),
                10px 10px 10px rgba(0,0,0,0.0.05),
                15px 15px 15px rgba(0,0,0,0.02)
    }

    100% {
        transform: translateY(-800px) scale(1);
        opacity: 0;
    }
}


/* 'Josefin Slab', serif; */
/* 'Flamenco', cursive; */